<div class="main-content">

  <div class="header">
    <p>Lista de Sprints</p>
  </div>

  <div class="dash">
    <div style="background: #ECECEC;">
      <div [nzGutter]="8" nz-row>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Total Sprints">
            <p>{{ totalSprints | number }}</p>
          </nz-card>
        </div>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Sprints Ativos">
            <p>{{ totalActiveSprints | number }}</p>
          </nz-card>
        </div>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Sprints Inativos">
            <p>{{ totalInactiveSprints | number }}</p>
          </nz-card>
        </div>
      </div>
    </div>
  </div>

  <div class="filter">
    <input (ngModelChange)="search()" [(ngModel)]="searchValue" nz-input placeholder="Search..." type="text"/>

    <button (click)="openSprintDrawer()" nz-button nzType="primary">Novo Sprint</button>
    <button (click)="filterByStatus('ACTIVO')" nz-button nzType="default">Ativos</button>
    <button (click)="filterByStatus('INACTIVO')" nz-button nzType="default">Inativos</button>
    <button (click)="showAll()" nz-button nzType="default">Todos</button>
  </div>


  <div class="table-container">
    <div class="table-scroll">
      <nz-table #nzTable
                [nzData]="listOfDisplayData"
                [nzScroll]="{ x: '800px', y: '280px'}"
                nzTableLayout="fixed"
      >
        <thead>
        <tr>
          <th>Nome</th>
          <th>Código</th>
          <th>Descrição</th>

          <th>Status</th>
          <th>Created At</th>
          <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sprint of listOfDisplayData">
          <td>{{ sprint.name }}</td>
          <td>{{ sprint.code }}</td>
          <td>{{ sprint.description }}</td>

          <td>
            <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
              <nz-tag [nzColor]="sprint.status === 'ACTIVO' ? 'green' : 'red'">
                {{ sprint.status }}
              </nz-tag>
            </button>

            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="updateStatus(sprint, 'ACTIVO')">
                  <span style="color: green;">Ativar</span>
                </li>
                <li nz-menu-item (click)="updateStatus(sprint, 'INACTIVO')">
                  <span style="color: red;">Inativar</span>
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>



          <td>{{ sprint.createdAt | date: 'dd MM yyyy - HH:mm' }}</td>
          <td>
            <button
              (click)="deleteSprint(sprint)"
              nz-button
              nzDanger
              nzSize="small"
              nzType="link"
              title="Excluir Sprint"
            >
              <nz-icon nzTheme="outline" nzType="delete"></nz-icon>
            </button>
            <button (click)="viewSprint(sprint)" [routerLink]="['/sprint-detail', sprint.id]" nz-button nzSize="small"
                    nzType="link">
              <nz-icon nzTheme="outline" nzType="eye"></nz-icon>
            </button>

            <button (click)="editSprint(sprint)" nz-button nzSize="small" nzType="link">
              <nz-icon nzTheme="outline" nzType="edit"></nz-icon>
            </button>

          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<!-- Sprint Drawer -->
<nz-drawer
  (nzOnClose)="closeSprintDrawer()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzFooter]="nzSprintDrawerFooter"
  [nzTitle]="driverDrawerTitle"
  [nzVisible]="isSprintDrawerVisible"
  [nzWidth]="480"
>
  <form *nzDrawerContent [formGroup]="sprintForm" nz-form>
    <nz-form-item>
      <nz-form-label nzFor="code" nzRequired>Código</nz-form-label>
      <nz-form-control>
        <input formControlName="code" id="code" nz-input placeholder="Código do sprint"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
      <nz-form-control>
        <input formControlName="name" id="name" nz-input placeholder="Nome do sprint"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="description" nzRequired>Descrição</nz-form-label>
      <nz-form-control>
        <input formControlName="description" id="description" nz-input placeholder="Descrição do sprint"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Status</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="status" nzPlaceHolder="Selecione o status">
          <nz-option nzLabel="ACTIVO" nzValue="ACTIVO"></nz-option>
          <nz-option nzLabel="INACTIVO" nzValue="INACTIVO"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #nzSprintDrawerFooter>
    <button (click)="closeSprintDrawer()" nz-button>Cancelar</button>
    <button (click)="submitSprint()" [disabled]="!sprintForm.valid" nz-button nzType="primary">Salvar</button>
  </ng-template>
</nz-drawer>
