<nz-layout class="app-layout">
  <nz-sider [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            class="menu-sidebar"
            nzBreakpoint="md"
            nzCollapsible
            nzWidth="256px">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img alt="logo" src="https://ng.ant.design/assets/img/logo.svg">
        <h1>Transporte Chiziane</h1>
      </a>
    </div>
    <ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline" nzTheme="dark">
      <li nz-submenu nzIcon="dashboard" nzOpen nzTitle="CSM">
        <ul>


          <li nz-menu-item nzMatchRouter>
            <a routerLink="/carload">
                  <span class="menu-icon-right">
          <i nz-icon nzType="car"></i>
        </span>
              Carload
            </a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <span class="menu-icon-right">
          <i nz-icon nzType="user"></i>
        </span>
            <a routerLink="/manager">
              Manager

            </a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <span class="menu-icon-right">
          <i nz-icon nzType="rocket"></i>
        </span>
            <a routerLink="/sprint">
              Sprint

            </a>
          </li>

          <li nz-menu-item nzMatchRouter>
               <span class="menu-icon-right">
          <i nz-icon nzType="team"></i>
        </span>
            <a routerLink="/driver">
              Driver

            </a>
          </li>

          <li nz-menu-item nzMatchRouter>
               <span class="menu-icon-right">
          <i nz-icon nzType="team"></i>
        </span>
            <a routerLink="/invoice">
             Invoice

            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzIcon="dashboard" nzOpen nzTitle="WSM">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/customer">Customer</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/payment">Payment</a>
          </li>


        </ul>
      </li>
      <li nz-submenu nzIcon="dashboard" nzOpen nzTitle="CALENDAR">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/calendar">Calendar</a>
          </li>



        </ul>
      </li>
      <li nz-submenu nzIcon="user" nzOpen nzTitle="Account">
        <ul>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/users">Users</a>
          </li>
        </ul>
      </li>


    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span (click)="isCollapsed = !isCollapsed" class="header-trigger">
            <span [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                  class="trigger"
                  nz-icon>
            </span>
        </span>
        <div class="user-menu">
          <a [nzDropdownMenu]="userMenu" nz-dropdown>
            <span class="user-icon" nz-icon nzType="user"></span>
            <span class="username">Usuário</span>
            <nz-icon nzType="down"></nz-icon>
          </a>
          <nz-dropdown-menu #userMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <a routerLink="/profile">Perfil</a>
              </li>
              <li (click)="logout()" nz-menu-item>Logout</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
