<nz-layout class="app-layout">
  <nz-sider [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            class="menu-sidebar"
            nzBreakpoint="md"
            nzCollapsible
            nzWidth="256px">

    <div class="sidebar-logo">
      <a>
        <img alt="logo" src="https://ng.ant.design/assets/img/logo.svg">
        <h1>AGUA'S Chiziane</h1>
      </a>
    </div>

    <ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline" nzTheme="dark">

      <!-- WSM -->
      <li nz-submenu nzIcon="appstore" nzOpen nzTitle="WSM">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/app/customer">
              <span nz-icon nzType="team"></span> Clientes
            </a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/app/payment">
              <span nz-icon nzType="credit-card"></span> Pagamentos
            </a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/app/recibo">
              <span nz-icon nzType="file-done"></span> Recibos
            </a>
          </li>
        </ul>
      </li>

      <!-- CALENDAR -->
      <li nz-submenu nzIcon="calendar" nzOpen nzTitle="Calendário">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/app/calendar">
              <span nz-icon nzType="calendar"></span> Calendário
            </a>
          </li>
        </ul>
      </li>

      <!-- ACCOUNT -->
      <li nz-submenu nzIcon="user" nzOpen nzTitle="Conta">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/app/users">
              <span nz-icon nzType="user"></span> Utilizadores
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span (click)="isCollapsed = !isCollapsed" class="header-trigger">
          <span [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" class="trigger"
                nz-icon>
          </span>
        </span>

        <div [nzDropdownMenu]="userMenu" class="user-menu" nz-dropdown>
          <span class="user-icon" nz-icon nzType="user"></span>
          <span class="username">{{ username }}</span>
          <nz-icon nzType="down"></nz-icon>
        </div>

        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <a routerLink="/profile">Perfil</a>
            </li>
            <li (click)="logout()" nz-menu-item>Logout</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
