<div class="content-wrapper">

  <!-- ===== Page Header ===== -->
  <div class="page-header">
    <p>Detalhes do Cliente</p>

    <span (click)="onBack()" class="back-arrow">
      <nz-icon nzTheme="outline" nzType="arrow-left"></nz-icon>
    </span>
  </div>

  <div class="info-section">

    <!-- ==== Informações do Cliente ==== -->
    <section class="section">
      <h3 class="section-title">Informações do Cliente</h3>

      <div class="info-grid">
        <div class="item"><strong>Nome:</strong> {{ customer.name }}</div>
        <div class="item"><strong>Contato:</strong> {{ customer.contact }}</div>
        <div class="item"><strong>Endereço:</strong> {{ customer.address }}</div>

        <div class="item">
          <strong>Status:</strong>
          <nz-tag [nzColor]="customer.status === 'ATIVO' ? 'green' : 'volcano'">
            {{ customer.status }}
          </nz-tag>
        </div>

        <div class="item"><strong>Valor:</strong> {{ customer.valve }} MT</div>
        <div class="item">
          <strong>Criação:</strong> {{ customer.createdAt | date: 'dd/MM/yyyy HH:mm' }}
        </div>
      </div>
    </section>

    <!-- ==== Dívidas ==== -->
    <section class="section">
      <h3 class="section-title">Dívidas</h3>

      <div class="debt-grid">

        <div class="debt-box">
          <p class="debt-label">Meses</p>
          <p class="debt-number">{{ customer.monthsInDebt }}</p>
        </div>

        <div class="debt-box">
          <p class="debt-label">Meses Correspondentes</p>

          <p class="debt-months-inline">
            <span *ngFor="let m of debtMonths; let last = last">
              {{ m }}<span *ngIf="!last">, </span><span *ngIf="last">.</span>
            </span>
          </p>
        </div>

      </div>
    </section>

  </div>

  <!-- ===== Filters Panel ===== -->
  <div class="filters-panel">
    <input
      (ngModelChange)="search()"
      [(ngModel)]="searchValue"
      nz-input
      placeholder="Search name"
      type="text"
    />

    <button (click)="openPaymentDrawer()" nz-button nzType="primary">
      Novo Payment
    </button>
  </div>

  <!-- ===== Table Section ===== -->
  <div class="table-wrapper">
    <div class="table-scroll">

      <nz-spin
        [nzSpinning]="isLoading"
        nzSize="large"
        nzTip="A carregar Payments...">


        <nz-table
          #nzTable
          [nzData]="listOfDisplayData"
          [nzScroll]="{ x: '1000px', y: '280px' }"
          nzTableLayout="fixed"
        >

          <thead>
          <tr>
            <th>Cliente</th>
            <th class="col-montante">Montante</th>
            <th class="col-reference">Mês de Referência</th>
            <th class="col-metodo">Método</th>
            <th class="col-confirmado">Confirmado</th>
            <th>Data</th>
            <th>Ações</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let data of nzTable.data">

            <td>{{ data.customerName }}</td>
            <td class="col-montante">$ {{ data.amount }}</td>

            <td class="col-reference">{{ data.referenceMonth }}</td>

            <td class="col-metodo">{{ data.paymentMethod }}</td>

            <td class="col-confirmado">
              <nz-tag [nzColor]="data.confirmed ? 'green' : 'red'">
                {{ data.confirmed ? 'Sim' : 'Não' }}
              </nz-tag>
            </td>

            <td>{{ data.paymentDate | date: 'dd/MM/yyyy HH:mm' }}</td>

            <td class="action-buttons">
              <button [routerLink]="['/payment-detail', data.id]" nz-button nzSize="small"
                      nzType="link">
                <nz-icon nzType="eye"></nz-icon>
              </button>

              <button (click)="printPayment(data)" nz-button nzSize="small"
                      nzType="link">
                <nz-icon nzType="printer"></nz-icon>
              </button>

              <button (click)="deletePayment(data)" nz-button nzDanger nzSize="small"
                      nzType="link">
                <nz-icon nzType="delete"></nz-icon>
              </button>
            </td>

          </tr>
          </tbody>

        </nz-table>


      </nz-spin>

    </div>
  </div>

</div>


<!-- ===== Payment Drawer ===== -->
<nz-drawer
  (nzOnClose)="closePaymentDrawer()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzFooter]="paymentDrawerFooter"
  [nzMaskClosable]="false"
  [nzTitle]="paymentDrawerTitle"
  [nzVisible]="isPaymentDrawerVisible"
  [nzWidth]="drawerWidth"
>

  <!-- Drawer Content -->
  <form
    *nzDrawerContent
    [formGroup]="paymentForm" class="drawer-form"
    nz-form>

    <!-- ==== Informações do Pagamento ==== -->
    <div class="drawer-section">

      <h3 class="section-title">Informações do Pagamento</h3>

      <div [nzGutter]="16" nz-row>

        <div nz-col nzXs="24" nzSm="24" nzMd="12">
          <nz-form-item>
            <nz-form-label>Montante</nz-form-label>
            <nz-form-control>
              <nz-input-group nzAddOnBefore="MZN">
                <input formControlName="amount" nz-input placeholder="Digite o valor" type="number">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="12">
          <nz-form-item>
            <nz-form-label>Número de Meses</nz-form-label>
            <nz-form-control>
              <input
                (change)="onNumMonthsChange()"
                [max]="customer.monthsInDebt"
                [min]="0"
                formControlName="numMonths"
                nz-input
                placeholder="Digite o número de meses"
                type="number"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div *ngIf="selectedMonths.length > 0" nz-col nzXs="24" nzSm="24" nzMd="12">
          <nz-form-item>
            <nz-form-label>Meses de Referência</nz-form-label>
            <nz-form-control>
              <p class="debt-months-inline">
        <span *ngFor="let m of selectedMonths; let last = last">
          {{ m }}<span *ngIf="!last">, </span><span *ngIf="last">.</span>
        </span>
              </p>
            </nz-form-control>
          </nz-form-item>
        </div>


      </div>

      <div [nzGutter]="16" nz-row>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Método de Pagamento</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="paymentMethod" nzPlaceHolder="Selecione o método">
                <nz-option nzLabel="M-Pesa" nzValue="MPESA"></nz-option>
                <nz-option nzLabel="Depósito Bancário" nzValue="BANK"></nz-option>
                <nz-option nzLabel="Dinheiro" nzValue="CASH"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

    </div>
  </form>

  <!-- Drawer Footer -->
  <ng-template #paymentDrawerFooter>
    <div class="drawer-footer">
      <button (click)="closePaymentDrawer()"
              class="btn-cancel"
              nz-button nzType=
                "default">Cancelar
      </button>
      <button (click)="savePayment()" [disabled]="paymentForm.invalid" class="btn-save"
              nz-button
              nzType="primary">
        Confirmar Pagamento
      </button>
    </div>
  </ng-template>

</nz-drawer>
