.header-bg {
  background-color: #005f99;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
}

.nav-link {
  font-size: 1.1rem;
  margin-right: 1rem;
}

.btn-order {
  background-color: #e67e22;
  color: #fff;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;

  &:hover {
    background-color: #f4c430;
    color: #333;
  }
}
