<div class="main-content">
  <div class="header">
    <p>Lista de Carloads</p>
  </div>
  <div class="dash">

    <div style="background: #ECECEC;">
      <div [nzGutter]="8" nz-row>
        <div [nzSpan]="6" nz-col>
          <nz-card nzTitle="Total Carloads">
            <p>{{ totalCarloads | number }}</p>
          </nz-card>
        </div>
        <div [nzSpan]="6" nz-col>
          <nz-card nzTitle="Agendados">
            <p>{{ totalAgendados | number }}</p>
          </nz-card>
        </div>
        <div [nzSpan]="6" nz-col>
          <nz-card nzTitle="Entregues">
            <p>{{ totalEntregue | number }}</p>
          </nz-card>
        </div>
        <div [nzSpan]="6" nz-col>
          <nz-card nzTitle="Pendentes">
            <p>{{ totalPendente | number }}</p>
          </nz-card>
        </div>
      </div>
    </div>


  </div>


  <div class="filter">
    <input (ngModelChange)="search()" [(ngModel)]="searchValue" nz-input placeholder="Search..." type="text"/>

    <button (click)="openCarloadDrawer()" nz-button nzType="primary">Novo Carload</button>

    <button (click)="setFilterMode('ALL')" nz-button [nzType]="filterMode==='ALL' ? 'primary' : 'default'">Todos</button>
    <button (click)="setFilterMode('SCHEDULED')" nz-button [nzType]="filterMode==='SCHEDULED' ? 'primary' : 'default'">Agendados</button>
    <button (click)="setFilterMode('DELIVERED')" nz-button [nzType]="filterMode==='DELIVERED' ? 'primary' : 'default'">Entregues</button>
    <button (click)="setFilterMode('PENDING')" nz-button [nzType]="filterMode==='PENDING' ? 'primary' : 'default'">Pendentes</button>

    <nz-range-picker
      [(ngModel)]="dateRange"
      (ngModelChange)="applyFilter()"
      [nzAllowClear]="true"
      nzPlaceholder="Filtrar por intervalo de datas"
    ></nz-range-picker>
  </div>


  <div class="table-container">

    <div class="table-scroll">
      <nz-table #nzTable
                [nzData]="listOfDisplayData"
                [nzScroll]="{ x: '1050px', y: '280' }"
                nzTableLayout="fixed">
        <thead>
        <tr>
          <th>Destino</th>
          <th>Cliente</th>
          <th>Telefone</th>

          <th *ngIf="!isShowingScheduledOnly">Motorista</th>
          <th>Material</th>
          <th *ngIf="!isShowingScheduledOnly">Lote</th>
          <th *ngIf="!isShowingScheduledOnly">Gasto Total</th>
          <th>Ganhos</th>
          <th>Status</th>
          <th *ngIf="isShowingScheduledOnly">Entrega</th>
          <th>Ações</th>
        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let carload of nzTable.data">
          <!-- Destino -->
          <td>
            <ng-container *ngIf="editingCarload?.id === carload.id && editingField === 'deliveryDestination'; else viewDestination">
              <input [(ngModel)]="editingCarload!.deliveryDestination"
                     (blur)="saveInlineEdit(carload, 'deliveryDestination')"
                     (keyup.enter)="saveInlineEdit(carload, 'deliveryDestination')"
                     nz-input />
            </ng-container>
            <ng-template #viewDestination>
    <span (click)="startInlineEdit(carload, 'deliveryDestination')" class="editable-cell">
      {{ carload.deliveryDestination }}
    </span>
            </ng-template>
          </td>

          <td>
            <ng-container *ngIf="editingCarload?.id === carload.id && editingField === 'customerName'; else viewCustomerName">
              <input [(ngModel)]="editingCarload!.customerName"
                     (blur)="saveInlineEdit(carload, 'customerName')"
                     (keyup.enter)="saveInlineEdit(carload, 'customerName')"
                     nz-input />
            </ng-container>
            <ng-template #viewCustomerName>
    <span (click)="startInlineEdit(carload, 'customerName')" class="editable-cell">
      {{ carload.customerName }}
    </span>
            </ng-template>
          </td>

          <td>
            <ng-container *ngIf="editingCarload?.id === carload.id && editingField === 'customerPhoneNumber'; else viewPhone">
              <input [(ngModel)]="editingCarload!.customerPhoneNumber"
                     (blur)="saveInlineEdit(carload, 'customerPhoneNumber')"
                     (keyup.enter)="saveInlineEdit(carload, 'customerPhoneNumber')"
                     nz-input />
            </ng-container>
            <ng-template #viewPhone>
    <span (click)="startInlineEdit(carload, 'customerPhoneNumber')" class="editable-cell">
      {{ carload.customerPhoneNumber }}
    </span>
            </ng-template>
          </td>

          <td *ngIf="!isShowingScheduledOnly">{{ carload.assignedDriverName }}</td>
          <td>{{ carload.transportedMaterial }}</td>
          <td *ngIf="!isShowingScheduledOnly">{{ carload.carloadBatchName }}</td>
          <td *ngIf="!isShowingScheduledOnly">{{ carload.totalSpent | currency:'MZN':'symbol':'1.2-2' }}</td>
          <td>{{ carload.totalEarnings | currency:'MZN':'symbol':'1.2-2' }}</td>
          <!-- Status -->
          <td>
            <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
              <nz-tag [nzColor]="carload.deliveryStatus === 'DELIVERED' ? 'green' : carload.deliveryStatus === 'PENDING' ? 'orange' : 'blue'">
                {{ carload.deliveryStatus }}
              </nz-tag>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="updateCarloadStatus(carload, 'DELIVERED')">
                  <span style="color: green;">Entregue</span>
                </li>
                <li nz-menu-item (click)="updateCarloadStatus(carload, 'PENDING')">
                  <span style="color: orange;">Pendente</span>
                </li>
                <li nz-menu-item (click)="updateCarloadStatus(carload, 'SCHEDULED')">
                  <span style="color: blue;">Agendado</span>
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
          <td *ngIf="isShowingScheduledOnly">{{ carload.deliveryScheduledDate | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button *ngIf="isShowingScheduledOnly" (click)="encerarCarload(carload)"  nz-button
                    nzSize="small" nzType="link">

              <nz-icon nzType="copyright-circle" nzTheme="outline" />
            </button>
            <button (click)="editCarload(carload)" nz-button nzSize="small" nzType="link">
              <nz-icon nzTheme="outline" nzType="edit"></nz-icon>
            </button>
            <button (click)="deleteCarload(carload)" nz-button nzDanger nzSize="small" nzType="link">
              <nz-icon nzTheme="outline" nzType="delete"></nz-icon>
            </button>
          </td>
        </tr>

        </tbody>
      </nz-table>
    </div>


  </div>
</div>

<!-- Carload Drawer -->
<nz-drawer
  (nzOnClose)="closeCarloadDrawer()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzFooter]="nzCarloadDrawerFooter"
  [nzVisible]="isCarloadDrawerVisible"
  [nzWidth]="720"
  nzTitle="Novo Carload"
>
  <form *nzDrawerContent [formGroup]="carloadForm" nz-form class="drawer-form">
    <!-- Seção Básica -->
    <div class="drawer-section">
      <h3 class="section-title">Informações do Cliente</h3>
      <div [nzGutter]="16" nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Nome do Cliente</nz-form-label>
            <nz-form-control>
              <input formControlName="customerName" nz-input placeholder="Nome do cliente" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Telefone do Cliente</nz-form-label>
            <nz-form-control>
              <nz-input-group nzAddOnBefore="+258">
                <input formControlName="customerPhoneNumber" nz-input placeholder="Número de telefone" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>

    <!-- Seção Motorista e Gestor -->
    <div class="drawer-section">
      <h3 class="section-title">Equipe</h3>
      <div [nzGutter]="16" nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Motorista Atribuído</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="assignedDriverId" nzPlaceHolder="Selecione o motorista">
                <nz-option *ngFor="let driver of dataDrivers" [nzLabel]="driver.Name" [nzValue]="driver.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Gestor Atribuído</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="logisticsManagerId" nzPlaceHolder="Selecione o gestor">
                <nz-option *ngFor="let manager of dataManagers" [nzLabel]="manager.name" [nzValue]="manager.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>

    <!-- Seção Material e Lote -->
    <div class="drawer-section">
      <h3 class="section-title">Material e Lote</h3>
      <div [nzGutter]="16" nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Material Transportado</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="transportedMaterial" nzPlaceHolder="Selecione o material">
                <nz-option nzLabel="Areia grossa" nzValue="Areia grossa"></nz-option>
                <nz-option nzLabel="Areia fina" nzValue="Areia fina"></nz-option>
                <nz-option nzLabel="Areia vermelha/saibro" nzValue="Areia vermelha/saibro"></nz-option>
                <nz-option nzLabel="Pedra 3/4" nzValue="Pedra 3/4"></nz-option>
                <nz-option nzLabel="Pedra Sarrisca" nzValue="Pedra Sarrisca"></nz-option>
                <nz-option nzLabel="Pedra Enricamento" nzValue="Pedra Enricamento"></nz-option>
                <nz-option nzLabel="Pó de pedra" nzValue="Pó de pedra"></nz-option>
                <nz-option nzLabel="Outros" nzValue="Outros"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Nome do Lote</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="carloadBatchId" nzPlaceHolder="Selecione o lote">
                <nz-option *ngFor="let sprint of dataSprint" [nzLabel]="sprint.name" [nzValue]="sprint.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Destino:</nz-form-label>
            <nz-form-control nzErrorTip="Informe o destino da entrega">
              <input nz-input formControlName="deliveryDestination" placeholder="Ex: Matola, Boane..." />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>


    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>Nome do Cliente</nz-form-label>
        <nz-form-control>
          <input formControlName="customerName" nz-input placeholder="Nome do cliente" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- Seção Financeira e Entrega -->
    <div class="drawer-section">
      <h3 class="section-title">Financeiro & Entrega</h3>
      <div [nzGutter]="16" nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Total Gasto</nz-form-label>
            <nz-form-control>
              <nz-input-group nzAddOnBefore="MZN">
                <input formControlName="totalSpent" nz-input placeholder="Total gasto" type="number" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Rendimento Total</nz-form-label>
            <nz-form-control>
              <nz-input-group nzAddOnBefore="MZN">
                <input formControlName="totalEarnings" nz-input placeholder="Total ganho" type="number" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div [nzGutter]="16" nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>Status da Entrega</nz-form-label>
            <nz-form-control>
              <nz-select
                formControlName="deliveryStatus"
                nzPlaceHolder="Selecione o status"
                (ngModelChange)="onStatusChange($event)"
              >
                <nz-option nzLabel="Entregue" nzValue="DELIVERED"></nz-option>
                <nz-option nzLabel="Pendente" nzValue="PENDING"></nz-option>
                <nz-option nzLabel="Agendado" nzValue="SCHEDULED"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12" *ngIf="showDeliveryDateField">
          <nz-form-item>
            <nz-form-label nzRequired>Data de Entrega</nz-form-label>
            <nz-form-control>
              <nz-date-picker
                formControlName="deliveryScheduledDate"
                (ngModelChange)="onChange($event)"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </form>

  <ng-template #nzCarloadDrawerFooter>
    <div class="drawer-footer">
      <button (click)="closeCarloadDrawer()" nz-button nzType="default" class="btn-cancelar">Cancelar</button>
      <button (click)="submitCarload()" [disabled]="carloadForm.invalid" nz-button nzType="primary" class="btn-salvar">Salvar</button>
    </div>
  </ng-template>
</nz-drawer>

