<div class="main-content">
  <div class="header">
    <p>Lista de Recibos</p>
  </div>

  <div class="filter">
    <input (ngModelChange)="search()" [(ngModel)]="searchValue" nz-input placeholder="Pesquisar recibo ou cliente"
           type="text"/>
    <button (click)="open()" [disabled]="payments.length === 0" nz-button nzType="primary">
      Adicionar Recibo
    </button>
  </div>

  <div class="table">
    <nz-table #nzTable [nzData]="listOfDisplayData" [nzScroll]="{ x: '1150px', y: '340px' }" nzTableLayout="fixed">
      <thead>
      <tr>
        <th nzCustomFilter>
          Nome do Cliente
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <nz-icon nzType="search"></nz-icon>
          </nz-filter-trigger>
        </th>
        <th>Nome do Ficheiro</th>
        <th>Caminho do Ficheiro</th>
        <th>Data de Criação</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.customerName }}</td>
        <td>
          {{ data.fileName }}
        </td>

        <td>
          <a (click)="getDownloadUrl(data)"
             target="_blank">
            {{ data.filePath }}
          </a>
        </td>
        <td>{{ data.createdAt | date: 'dd/MM/yyyy - HH:mm' }}</td>
        <td>
          <button (click)="viewRecibo(data)" nz-button nzSize="small" nzType="link">
            <nz-icon nzTheme="outline" nzType="eye"></nz-icon>
          </button>
          <button (click)="editRecibo(data)" nz-button nzSize="small" nzType="link">
            <nz-icon nzTheme="outline" nzType="edit"></nz-icon>
          </button>
          <button (click)="deleteRecibo(data)" nz-button nzDanger nzSize="small" nzType="link">
            <nz-icon nzTheme="outline" nzType="delete"></nz-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input (ngModelChange)="search()" [(ngModel)]="searchValue" nz-input placeholder="Pesquisar" type="text"/>
          <button (click)="search()" class="search-button" nz-button nzSize="small" nzType="primary">Pesquisar</button>
          <button (click)="reset()" nz-button nzSize="small">Limpar</button>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>

<!-- Drawer -->
<nz-drawer
  (nzOnClose)="close()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzFooter]="footerTpl"
  [nzMaskClosable]="false"
  [nzTitle]="drawerTitle"
  [nzVisible]="visibleDrawer"
  [nzWidth]="480"
>
  <form (ngSubmit)="createRecibo()" *nzDrawerContent [formGroup]="reciboForm" nz-form>
    <div [nzGutter]="16" nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>Pagamento</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="paymentId" nzPlaceHolder="Selecione um pagamento">
              <nz-option *ngFor="let payment of payments"
                         [nzLabel]="'Pagamento ' + payment.id"
                         [nzValue]="payment.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button (click)="close()" nz-button style="margin-right: 8px;">Cancelar</button>
      <button (click)="createRecibo()" [disabled]="reciboForm.invalid" nz-button nzType="primary" type="submit">Salvar
      </button>
    </div>
  </ng-template>
</nz-drawer>
