<div class="content-wrapper">

  <div class="page-header">
    <p>Lista dos Clientes</p>


    <span class="back-arrow" (click)="onBack()">
      <nz-icon nzType="arrow-left" nzTheme="outline" />

  </span>
  </div>

  <div class="summary-section">
    <div class="summary-background">
      <div [nzGutter]="8" nz-row>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Total Customers">
            <p>{{ totalCustomers }}</p> <!-- Exibe o total de clientes -->
          </nz-card>
        </div>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Active Customers">
            <p>{{ activeCustomers }}</p> <!-- Exibe o total de clientes ativos -->
          </nz-card>
        </div>
        <div [nzSpan]="8" nz-col>
          <nz-card nzTitle="Inactive Customers">
            <p>{{ inactiveCustomers }}</p> <!-- Exibe o total de clientes inativos -->
          </nz-card>
        </div>
      </div>
    </div>
  </div>

  <div class="filters-panel">
    <input (ngModelChange)="search()"
           [(ngModel)]="searchValue"
           nz-input
           placeholder="Search name"
           type="text"/>
    <button (click)="open()" nz-button nzType="primary">Novo Customer</button>
    <button (click)="openPaymentDrawer()" nz-button nzType="primary">Novo Payment</button>
  </div>

  <div class="table-wrapper">
    <div class="table-scroll">
      <nz-spin
        [nzSpinning]="isLoading"
        nzSize="large"
        nzTip="A carregar Customer...">

    <nz-table
      #nzTable
      [nzData]="listOfDisplayData"
      [nzScroll]="{ x: '1150px', y: '280px' }"
      nzTableLayout="fixed">
      <thead>
      <tr>
        <th nzCustomFilter>
          Name
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <nz-icon nzType="search"/>
          </nz-filter-trigger>
        </th>
        <th>Contact</th>
        <th>Months</th>
        <th>Status</th>
        <th>Valve</th>
        <th>Tax</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.contact }}</td>
        <td>{{ data.monthsInDebt }}</td>
        <td>
          <nz-tag [nzColor]="data.status === 'ATIVO' ? 'green' : 'red'">
            {{ data.status }}
          </nz-tag>
        </td>
        <td>{{ data.valve }}</td>
        <td>{{ data.valve }}</td>
        <td>{{ data.createdAt | date: 'dd MM yyyy - HH:mm' }}</td>
        <td>
          <button (click)="viewCustomer(data)" [routerLink]="['/customer-detail', data.id]" nz-button nzSize="small"
                  nzType="link">
            <nz-icon nzTheme="outline" nzType="eye"></nz-icon>
          </button>
          <button (click)="editCustomer(data)" nz-button nzSize="small" nzType="link">
            <nz-icon nzTheme="outline" nzType="edit"></nz-icon>
          </button>
          <button (click)="deleteCustomer(data)" nz-button nzDanger nzSize="small" nzType="link">
            <nz-icon nzTheme="outline" nzType="delete"></nz-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
      </nz-spin>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input (ngModelChange)="search()" [(ngModel)]="searchValue" nz-input placeholder="Search name" type="text"/>
          <button (click)="search()" class="search-button" nz-button nzSize="small" nzType="primary">Search</button>
          <button (click)="reset()" nz-button nzSize="small">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>

  </div>

  </div>
</div>

<nz-drawer
  (nzOnClose)="closeCustomerDrawer()"
  [nzFooter]="customerDrawerFooter"
  [nzTitle]=" customerDrawerTitle"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzVisible]="  isCustomerDrawerVisible"
  [nzWidth]="720"
  [nzMaskClosable]="false"
 >

  <form *nzDrawerContent [formGroup]="customerForm"
        class="drawer-form"
        nz-form>



    <!-- ===== Section: Basic Information ===== -->
    <div class="drawer-section">
      <h3 class="section-title">Basic Information</h3>

    <div [nzGutter]="16" nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Nome</nz-form-label>
          <nz-form-control>
            <input formControlName="name" nz-input placeholder="Digite o nome do cliente"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Contato</nz-form-label>
          <nz-form-control>
            <nz-input-group nzAddOnBefore="+258">
              <input formControlName="contact" nz-input placeholder="Digite o contato"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div [nzGutter]="16" nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Endereço</nz-form-label>
          <nz-form-control>
            <input formControlName="address" nz-input placeholder="Digite o endereço"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Status</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="status" nzPlaceHolder="Selecione o status">
              <nz-option nzLabel="ATIVO" nzValue="ATIVO"></nz-option>
              <nz-option nzLabel="INATIVO" nzValue="INATIVO"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div [nzGutter]="16" nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Valve</nz-form-label>
          <nz-form-control>
            <nz-input-group nzAddOnBefore="MZN">
              <input formControlName="valve" nz-input placeholder="Digite a válvula" type="number"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Meses em Dívida</nz-form-label>
          <nz-form-control>
            <input formControlName="monthsInDebt" nz-input placeholder="Digite os meses" type="number"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    </div>
  </form>

  <ng-template #customerDrawerFooter>
    <div class="drawer-footer">
      <button (click)="closeCustomerDrawer()" nz-button style="margin-right: 8px;">Cancelar</button>
      <button (click)="createCustomer()" nz-button nzType="primary">
        {{ isEditMode ? 'Salvar' : 'Criar' }}
      </button>
    </div>
  </ng-template>
</nz-drawer>


<nz-drawer
  (nzOnClose)="closePaymentDrawer()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzFooter]="paymentFooterTpl"
  [nzMaskClosable]="false"
  [nzVisible]="paymentDrawerVisible"
  [nzWidth]="720"
  nzTitle="Create Payment"
>
  <form (ngSubmit)="createPayment()" *nzDrawerContent [formGroup]="paymentForm" nz-form>
    <div [nzGutter]="16" nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Amount</nz-form-label>
          <nz-form-control>
            <input formControlName="amount" nz-input placeholder="Enter payment amount" type="number"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Payment Method</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="paymentMethod" nzPlaceHolder="Selecione o método de pagamento">
              <nz-option nzLabel="EMOLA" nzValue="EMOLA"></nz-option>
              <nz-option nzLabel="MPESA" nzValue="MPESA"></nz-option>
              <nz-option nzLabel="BCI" nzValue="BCI"></nz-option>
              <nz-option nzLabel="NUMERARIO" nzValue="NUMERARIO"></nz-option>
            </nz-select>
          </nz-form-control>

        </nz-form-item>
      </div>
    </div>

    <div [nzGutter]="16" nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Months</nz-form-label>
          <nz-form-control>
            <input formControlName="numMonths" nz-input placeholder="Enter number of months"/>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Customer</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="customerId" nzPlaceHolder="Select Customer">
              <nz-option *ngFor="let customer of dataCostumers" [nzLabel]="customer.name"
                         [nzValue]="customer.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div [nzGutter]="16" nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Confirmed</nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="confirmed"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #paymentFooterTpl>
    <div style="float: right">
      <button (click)="closePaymentDrawer()" nz-button style="margin-right: 8px;">Cancel</button>
      <button (click)="createPayment()" nz-button nzType="primary">Submit</button>
    </div>
  </ng-template>
</nz-drawer>
