<div class="main-content">
  <div class="header">
    <p>Lista de Professores</p>
  </div>

  <div class="filter">
    <input (ngModelChange)="search()" [(ngModel)]="searchValue" nz-input placeholder="Pesquisar..."/>
    <button (click)="openDrawer()" nz-button nzType="primary">Novo Professor</button>
  </div>

  <nz-table [nzData]="listOfDisplayData" [nzScroll]="{ x: '800px', y: '280px'}" nzTableLayout="fixed">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Especialização</th>
      <th>Tipo</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let teacher of listOfDisplayData">
      <td>{{ teacher.name }}</td>
      <td>{{ teacher.email }}</td>
      <td>{{ teacher.phoneNumber }}</td>
      <td>{{ teacher.specialization }}</td>
      <td>{{ teacher.type }}</td>
      <td>
        <button (click)="editTeacher(teacher)" nz-button nzSize="small" nzType="link">
          <nz-icon nzType="edit"></nz-icon>
        </button>
        <button (click)="deleteTeacher(teacher)" nz-button nzDanger nzSize="small" nzType="link">
          <nz-icon nzType="delete"></nz-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

<nz-drawer
  (nzOnClose)="closeDrawer()"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzFooter]="drawerFooter"
  [nzTitle]="drawerTitle"
  [nzVisible]="isDrawerVisible"
  [nzWidth]="480"
>
  <form *nzDrawerContent [formGroup]="teacherForm" nz-form>
    <nz-form-item>
      <nz-form-label nzRequired>Nome</nz-form-label>
      <nz-form-control>
        <input formControlName="name" nz-input/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Email</nz-form-label>
      <nz-form-control>
        <input formControlName="email" nz-input/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Telefone</nz-form-label>
      <nz-form-control>
        <input formControlName="phoneNumber" nz-input/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Especialização</nz-form-label>
      <nz-form-control>
        <input formControlName="specialization" nz-input/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Tipo</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="type">
          <nz-option nzLabel="FHEAD_TEACHER" nzValue="HEAD_TEACHER"></nz-option>
          ,
          <nz-option nzLabel="ASSISTANT" nzValue="PASSISTANT"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ng-template #drawerFooter>
    <button (click)="closeDrawer()" nz-button>Cancelar</button>
    <button (click)="submitTeacher()" [disabled]="teacherForm.invalid" nz-button nzType="primary">Salvar</button>
  </ng-template>
</nz-drawer>
