<div class="content-wrapper">

  <!-- ===== Breadcrumb ===== -->
  <nz-breadcrumb class="page-breadcrumb">
    <nz-breadcrumb-item>
      <a routerLink="/app">Home</a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a routerLink="/app/payment">Lista de Pagamentos</a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      Detalhes do Pagamento
    </nz-breadcrumb-item>
  </nz-breadcrumb>


  <!-- ===== Page Header ===== -->
  <div class="page-header">
    <p>Detalhes do Pagamento</p>


    <span class="back-arrow">

<nz-icon nzTheme="outline" nzType="vertical-align-bottom"/>
    </span>
    <span (click)="goBack()" class="back-arrow">

      <nz-icon nzTheme="outline" nzType="arrow-left"></nz-icon>
    </span>


  </div>

  <div class="info-section">

    <!-- ==== Informações do Cliente ==== -->
    <section class="section">
      <h3 class="section-title">Informações do Cliente</h3>
      <div *ngIf="payment?.customer" class="info-grid">
        <div class="item"><strong>Nome:</strong> {{ payment.customer.name }}</div>
        <div class="item"><strong>Contato:</strong> {{ payment.customer.contact }}</div>
        <div class="item"><strong>Endereço:</strong> {{ payment.customer.address }}</div>
        <div class="item">
          <strong>Status:</strong>
          <nz-tag [nzColor]="payment.customer.status === 'ATIVO' ? 'green' : 'volcano'">
            {{ payment.customer.status }}
          </nz-tag>
        </div>
        <div class="item"><strong>Valor:</strong> {{ payment.customer.valve }} MT</div>
        <div class="item">
          <strong>Criação:</strong> {{ payment.customer.createdAt | date: 'dd/MM/yyyy HH:mm' }}
        </div>
      </div>
    </section>

    <!-- ==== Informações do Pagamento ==== -->
    <section class="section">
      <h3 class="section-title">Informações do Pagamento</h3>

      <div class="debt-grid">
        <div class="debt-box">
          <p class="debt-label">Montante Pago</p>
          <p class="debt-number">{{ payment.amount }} MT</p>
        </div>

        <div class="debt-box">
          <p class="debt-label">Mês de Referência</p>
          <p class="debt-months-inline">{{ payment.referenceMonth }}</p>
        </div>

        <div class="debt-box">
          <p class="debt-label">Método</p>
          <p>{{ payment.paymentMethod }}</p>
        </div>

        <div class="debt-box">
          <p class="debt-label">Estado</p>
          <nz-tag [nzColor]="payment.confirmed ? 'green' : 'red'">
            {{ payment.confirmed ? 'Confirmado' : 'Pendente' }}
          </nz-tag>
        </div>

        <div class="debt-box">
          <p class="debt-label">Data do Pagamento</p>
          <p>{{ payment.paymentDate | date: 'dd/MM/yyyy HH:mm' }}</p>
        </div>
      </div>
    </section>

  </div>

</div>
