<div class="content">
  <!-- Lado esquerdo: calendário -->
  <div class="calendar-section">
    <div class="calendar">
      <div class="month-navigation">
        <button (click)="prevMonth()">&#10094;</button>
        <p>{{ monthName }} {{ year }}</p>
        <button (click)="nextMonth()">&#10095;</button>
      </div>

      <div class="year-navigation">
        <button (click)="prevYear()">&#10094;</button>
        <span>{{ year }}</span>
        <button (click)="nextYear()">&#10095;</button>
      </div>

      <div class="header">
        <span *ngFor="let day of weekDays">{{ day }}</span>
      </div>

      <div class="days">
        <span *ngFor="let date of dates" [ngClass]="getDayClass(date)">
          {{ date }}
        </span>
      </div>
    </div>
  </div>

  <!-- Lado direito: select + info -->
  <div class="input-section">
    <p> Coloque o estado em que esta hoje

    <div class="select-section">
      <mat-form-field appearance="fill">
        <mat-label>Selecione o estado atual de hoje</mat-label>
        <mat-select [(value)]="todayShift" (selectionChange)="updateReference()">
          <mat-option [value]="null">None</mat-option>
          <mat-option [value]="1">Dia</mat-option>
          <mat-option [value]="2">Noite</mat-option>
          <mat-option [value]="3">Folga 1</mat-option>
          <mat-option [value]="4">Folga 2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="info-section">
      <!-- Legenda -->
      <div class="legend">
        <div class="legend-item"><span class="dot shift-dia"></span> Dia</div>
        <div class="legend-item"><span class="dot shift-noite"></span> Noite</div>
        <div class="legend-item"><span class="dot shift-folga1"></span> Folga 1</div>
        <div class="legend-item"><span class="dot shift-folga2"></span> Folga 2</div>
      </div>
    </div>
  </div>
</div>
