<div class="main-content">

  <div class="header">
    <p>Lista de Turmas</p>
  </div>

  <div class="filter">
    <input (ngModelChange)="search()" [(ngModel)]="searchValue" nz-input placeholder="Pesquisar..." />
    <button (click)="openClassroomDrawer()" nz-button nzType="primary">Nova Turma</button>
  </div>

  <div class="table-container">
    <nz-table [nzData]="listOfDisplayData" [nzScroll]="{ x: '800px', y: '280px'}" nzTableLayout="fixed">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Horário</th>
        <th>Data Criação</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let classroom of listOfDisplayData">
        <td>{{ classroom.name }}</td>
        <td>{{ classroom.schedule }}</td>
        <td>{{ classroom.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <button (click)="editClassroom(classroom)" nz-button nzSize="small" nzType="link">
            <nz-icon nzType="edit"></nz-icon>
          </button>

          <button (click)="deleteClassroom(classroom)" nz-button nzSize="small" nzType="link" nzDanger>
            <nz-icon nzType="delete"></nz-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-drawer
  [nzVisible]="isClassroomDrawerVisible"
  [nzTitle]="drawerTitle"
  [nzFooter]="nzClassroomDrawerFooter"
  [nzWidth]="480"
  (nzOnClose)="closeClassroomDrawer()"
>
  <form *nzDrawerContent [formGroup]="classroomForm" nz-form>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name">Nome</nz-form-label>
      <nz-form-control>
        <input formControlName="name" nz-input placeholder="Nome da turma" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired nzFor="schedule">Horário</nz-form-label>
      <nz-form-control>
        <input formControlName="schedule" nz-input placeholder="Ex: Seg-Sex 08:00-10:00" />
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label nzRequired>Docente </nz-form-label>
      <nz-form-control>
        <nz-select formControlName="assistantTeacherId" nzPlaceHolder="Select Teacher">
          <nz-option *ngFor="let teacher of allTeachers" [nzLabel]="teacher.name" [nzValue]="teacher.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Estudante</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="headTeacherId" nzPlaceHolder="Select Student">
          <nz-option *ngFor="let student of allStudents" [nzLabel]="student.nome" [nzValue]="student.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

  </form>

  <ng-template #nzClassroomDrawerFooter>
    <button (click)="closeClassroomDrawer()" nz-button>Cancelar</button>
    <button (click)="submitClassroom()" [disabled]="!classroomForm.valid" nz-button nzType="primary">Salvar</button>
  </ng-template>
</nz-drawer>
